*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-one {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-one .container {
    display: flex;
    align-items: center;
}

.nav-one {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #434455;
}
.logo-nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-nav:hover {
    color: #2e2f42;
}
.studio-s {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    color: #4d5ae5;
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-s:hover {
color: #2e2f42;
}
.accent {
    color: #2e2f42;
    transition-property: color;
}
.accent:hover {
    color: #404bbf;
}

.studio-s {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}
.studio-a {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 24px;
    display: block;
    color: #404bbf;
    transition-property: font-size;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.studio-a::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.studio-a:hover,
.studio-a:focus {
    color: #404bbf;
    font-size: 15px;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.adress {
    font-style: normal;
    margin-left: auto;
}

.adress .studio-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px;
    display: block;
    transition-duration: 500ms;
}
.link-adress {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress .studio-link:hover,
.adress .studio-link:focus {
    color: #404bbf;
    font-size: 15px;
}
.effective-solution {
    color: #ffffff;
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7));
    background-position: center;
}

.effective-solution {
    color: #ffffff;
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.efective-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.effective-solution .efective-button {
    color: #ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effective-solution .efective-button:hover,
.effective-solution .efective-button:focus {
    background-color: #404BBF;
}

.purpose-tit {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-li-one {
    width: calc((100% - 72px) / 4);
}
.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.purpose-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 8px;
}

.purpose-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.about-us {
    background-color: #f4f4fd;
}

.about-usc {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.about-li {
    background-color: #ffffff;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.svg-fill {
    fill: #f4f4fd;
}
.team-img {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.team-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-img .team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
}

.about-li .mark {
    padding: 32px 0;
}

.about-ush {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.about-usp {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
}

.portfolio-li-one {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.portfolio-li-one:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-li-one:hover .portfolio-img-p {
    transform: translateY(0%);
}
.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-apps {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    border: auto;
    margin-bottom: 72px;
}

.portfolio-titleh {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-titlep {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-down {
    background-color: #2E2F42;
    color: #f4f4fd;
    padding: 100px 0;
}
.container-div {
    display: flex;
    align-items: baseline;
}

.footer-container {
    margin-right: 120px;
}

.footer-downa {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.accent-footer {
    color: #f4f4fd;
}

.footer-downp {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.footer-icons-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-ul {
    display: flex;
    gap: 16px;
}

.footer-li {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.svg-footer {
    fill: #f4f4fd;
}